header{
    color: white;
    text-shadow: 1px 1px 5px black;
    

}


body {
    text-align: center;
    background-color: rgba(125, 210, 250, 0.555);
    font: normal 15pt Arial;
    text-shadow: 1px 1px 5px black;

}
h3 {
    text-align: left;
}
input[type = "button"]{
    border-radius: 15pt;
    border-color:rgba(255, 255, 255, 0);
    padding: 5pt;
    margin: auto;
    box-shadow: 1px 1px 3px black;
    font: normal 10pt Arial ;
    background-color: rgba(255, 255, 255, 0.329);
    color: white;
    text-shadow: 1px 1px 3px black;
}


input[type = "number"]{
    border-radius: 15pt;
    border-color: rgba(255, 255, 255, 0);
}

input[type = "text"]{
    border-radius: 15pt;
    border-color: rgba(255, 255, 255, 0);
}

section {
    background-color: rgba(255, 255, 255, 0.212);
    color: white;
    border-radius: 10px;
    padding: 15pt;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;


}
footer {
    color: white;
    font-style: italic;
}